---
import "./Header.css";
import HeaderButton from "./HeaderButton.astro";
---
<header>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
    <nav>
        <ul>
            <li><HeaderButton href="/">Home</HeaderButton></li>
            <li><HeaderButton href="/aboutMe">Sobre Mi</HeaderButton></li>
            <li><HeaderButton href="/services">Servicios</HeaderButton></li>
        </ul>
    </nav>
</header>