header {
    background: #FAFAFF;
    width: 100vw;
    height: auto;
    color: white;
    padding: 1rem;
    text-align: center;
}
.logo { display: flex;align-items: center;}
.logo p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #331047;
    margin-left: 0.5rem;
}
.logo img{
    width: 40px;
    height: 40px;
}
div.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding-top: 1rem;
    font-weight: 100;
}
nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease, text-decoration 0.3s ease;
    color: #705CD6;
    margin-right: 1rem;
}
nav a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}
nav a svg {
    margin-right: 0.5rem;
}
