---
// Props
interface Props {
    href: string;
}
const { href } = Astro.props as Props;
---
<a class="headerButton" href={href} >
    <slot name="before"/>
    <slot />
    <slot name="after"/>
</a>