---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'Junio-2022 Actualidad',
        title: 'Programador Junior PhP/JavaScript - Hiberus Tecnología',
        description: 'Participación en aplicación web de la empresa para subidas de CV usando Symphoy. Desarrollos en PhP y JavaScript para cliente.',
        link: '#'
    },
    {
      date: "Marzo-2022 Junio-2022",
      title: "Practicas - Hiberus Tecnología",
      description:
        "Desarrollo mis prácticas en el departamento de Data, desarrollando plantillas de visualización de datos en Java y Dashboards.",
    }
];
---

<ol class="relative border-s border-gray-200 ml-3">  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience}/>
            </li>
        ))
    }
</ol>

