---
import Layout from "../layouts/Layout.astro";
import '../styles/about.css'; 
import data from "../json/sobre_mi.json";
console.log(data);
---
<Layout title="Sobre mi">
    <h1>Aqui hablo sobre mi!</h1>
</Layout>