h1.title.about-me{
    font-size: 2.5rem;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
.personal-info{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666666;
    max-width: 800px;
    margin: 0 auto 30px auto;
}