<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class=" [&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty">
        <p>
            ¡Hola! Soy Nagib y soy de Canarias pero vivo en Madrid, estudié
            cocina pero siempre mostré curiosidad por el mundo de la
            programación. A los 14 años, ya estaba creando mi horario de clases
            utilizando HTML, lo cual marcó el inicio de mi fascinación por la
            programación. <strong>Actualmente estoy trabajando en Hiberus</strong>.
        </p>

        <p>
            Aunque mi camino profesional comenzó en la cocina, donde logré
            grandes hitos, <strong>como ser el jefe de cocina de Sergi Arola y el tercer
            jefe de cocina de David Muñoz </strong>. Durante esta etapa, desarrollé
            habilidades de liderazgo, organización y motivación al dirigir
            equipos de trabajo. Sin embargo, la llamada de la informática nunca
            se desvaneció por completo.
        </p>

        <p>
            Hace aproximadamente dos años, decidí dar un giro completo a mi vida
            y regresar a mis raíces. Retomé mis estudios en informática y
            programación, aprovechando la oportunidad para realizar mis
            prácticas en la empresa en la que actualmente trabajo. Con esfuerzo
            y dedicación, logré no solo completar mi ciclo formativo, sino
            también asegurar un puesto de trabajo fijo.
        </p>

        <p>
            Mi experiencia en la cocina ha sido una fuente invaluable de
            habilidades transferibles, como la gestión de equipos y la
            resolución de problemas, que ahora aplico en el mundo de la
            tecnología. Estoy emocionado por seguir creciendo y contribuyendo al
            apasionante campo de la programaión.
        </p>

        <p>
            ¡Gracias por visitar mi página y compartir este emocionante viaje
            conmigo!
        </p>
    </div>
</section>
