<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full size-12" src="/img/yo.jpg" alt="foto nagib">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>