---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
---

<Layout title="Porfolio Nagib">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img class="rounded-full size-12 mb-4" src="/img/yo.jpg" alt="foto nagib">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Nagib 
				<a href="https://www.linkedin.com/in/nagib-delgado-morales-5456101b6/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="">+2 años experiencia.</span>				
				<span class="text-yellow-200/90">Desarrollador aplicaciones Web.</span>				
				<span class="text-red-200/90">De Gran Canaria, España.</span>
			</h2>
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/nagib-delgado-morales-5456101b6/">
						<LinkedInIcon class="size-6" />
						LinkedIn
					</a>
				</li>
			</ul>
		</section>
	</main>
</Layout>
