---
import "./Footer.css";
var year = new Date().getFullYear();
---
<footer>
    <p>&copy; {year} - Nadira Delgado - Todos los derechos reservados</p>
    <p>Diseñado con 💓 por Nagib Design</p>
</footer>